* {
    font-weight: bold;
}

form {
    width: 400px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid #ddd;
    box-sizing: border-box;
}

.align-right {
    text-align: right;
}

input[type=submit] {
    margin-top: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    display: inline-block;
}