body{
  margin: 30px;
}

ul#workspaces{
  width: 80%;
  margin: auto 0;
  position: relative;
  li{
    font-size: 1.2em;
    color: #2d8fdd;
    border-left: solid 6px #2d8fdd;
    background: #f1f8ff;
    margin-bottom: 3px;
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important;
    a {
      float: right;
    }
  }
}
